<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stem Cells | {{title}}</title>
	{{>headerLinks}}
	<link rel="stylesheet" href="css/stem cells.css">
</head>

<body>
	<div class="contain">
		{{>navbar}}
		<section class="text-gray-600 body-font">
			<div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
				<div
					class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
					<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">What are Stem Cells ?
					</h1>

					<p>A stem cell has the potential to become one of many different types of cells.Stem cells
						completely undifferentiated cells can be found during gestation, or the time the baby is in the
						womb, and are called embryonic stem cells. These early stage stem cells are master cells that
						have the potential to become any type of cell in the body.
						These stem cells, known as adult stem cells, stay with us for life. Stem cells are unique cells:
						They have the ability to become many different types of cells, and they can replicate rapidly.
						Stem cells play a huge part in the body’s healing process, and the introduction of new stem
						cells has always showed great promise in the treatment of many conditions
						Although a person’s own stem cells are always 100 percent compatible, there are risks in using
						someone else’s stem cells, especially if the donor and recipient are not immediately related.
						The relatively recent discovery of stem cells in the umbilical cord's blood has proven
						advantageous over acquiring stem cells from other sources
						Researchers are currently conducting clinical trials with stem cells, adding to the growing list
						of 80 diseases which they can treat.</p>
				</div>
				<div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
					<img src="imgs/stem cell.jpg">
				</div>
			</div>
		</section>

		<section class="text-gray-600 body-font">
			<div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
				<div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
					<img src="imgs/diabetes.jpg">
				</div>
				<div
					class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
					<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">What is Diabetes ?
					</h1>
					<p class="mb-8 leading-relaxed">Handling diabetes is a daily struggle for many. It can require near
						constant forethought about when and what a person will eat during the day, if and how much
						insulin the meals will require, innumerable finger pricks to check glucose levels and the added
						inconvenience of constantly carrying around insulin pumps and testers, extra batteries and
						everything else they will need to get through the day.
						Diabetes refers to a family of diseases where the body is unable to effectively produce or use
						insulin, the hormone required to convert food into energy. The cause of diabetes is not known,
						and so far, there is no cure.</p>
				</div>
			</div>
		</section>

		<section class="text-gray-600 body-font">
			<div class="container px-5 py-24 mx-auto">
				<h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20">How stem cells
					can cure Diabetes
				</h1>
				<div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6" id="types">
					<div class="p-4 md:w-1/2 flex">
						<div class="flex-grow pl-6">
							<h2 class="text-gray-900 text-lg title-font font-medium mb-2">Type 1</h2>
							<p class="leading-relaxed text-base">Type 1 Diabetes is characterized by the body’s
								inability to produce insulin and therefore necessitates daily injections of insulin.
								Because it most often develops in children, it is often referred to as "juvenile
								diabetes."</p>
							<br>
							<p class="leading-relaxed text-base">Stabilizing insulin levels is the key to managing
								diabetes.</p>
							<br>
							<p class="leading-relaxed text-base">The standard treatment today focusses on supplementing
								the body’s insulin, typically through injection (needles) or insulin pumps, which are
								worn outside the body.</p>
						</div>
					</div>
					<div class="p-4 md:w-1/2 flex">
						<div class="flex-grow pl-6">
							<h2 class="text-gray-900 text-lg title-font font-medium mb-2">Type 2</h2>
							<p class="leading-relaxed text-base">In 2017, researches gathered and analyzed 13 studies
								published between 2006 and 2016 comprising 342 patients who received stem cells like
								those abundant in cord blood and another 111 who received stem cells like those abundant
								in cord tissue to treat their diabetes. While not everyone responded to the treatment,
								researchers observed improved glucose control and reduced dependence on insulin lasting
								up to four years.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{>footer}}
	</div>
</body>

</html>