<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="imgs/logo.png" class="logo">
            <a href="/">
                <span class="ml-3 text-xl" id="navbar-heading">{{title}}</span>
            </a>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900 nav-link" href="/">Home</a>
            <a class="mr-5 hover:text-gray-900 nav-link" href="bmi-calculator">BMI Calculator</a>
            <a class="mr-5 hover:text-gray-900 nav-link" href="stem-cells">Stem Cells</a>
            <a class="mr-5 hover:text-gray-900 nav-link" href="fitness-funda">Fitness Funda</a>
            <a class="mr-5 hover:text-gray-900 nav-link" href="bibliography">Bibliography</a>
        </nav>
        <a href="contact">
            <button
                class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Contact
                Us
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </a>
    </div>
</header>